<%- include("partials/header") %>
    <%- include("partials/navbar") %>

        <div class="container">
            <h1>Clothes</h1>

   <div class="container">
        <div class="row flex-xl-nowrap">
            <div class="card-deck">
                <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1603252110971-b8a57087be18?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fG1lbiUyMGRyZXNzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">We have unbeatable deals and amazing discounts on our products</p>
                        <h5 class="card-date"> <a href="/men">Men Dress</a></h5>
                    </div>
                </div>
                <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1490481651871-ab68de25d43d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d29tZW4lMjBjbG90aGVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">Avoid Crowds, stay safe and shop from the comfort of your home.</p>
                        <h5><a href="/women">Women Dress</a></h5>
                    </div>
              
            </div>
             <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1542757573-84ee8884b308?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8a2lkcyUyMGNsb3RoZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">Avoid Crowds, stay safe and shop from the comfort of your home.</p>
                        <h5><a href="/children">Kids/Children Dress</a></h5>
                    </div>
              
            </div>
        </div>
    </div>

</div>
</div>
            <div class="container">
                <br>
               
                
              

            </div>
        </div>


        <%- include("partials/footer") %>