<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container">
<h1>Electronics</h1>

<div class="container">
    <br>
    <div class="container">
        <div class="row flex-xl-nowrap">
            <div class="card-deck">
                <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1461151304267-38535e780c79?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGVsZXZpc2lvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">We have unbeatable deals and amazing discounts on our products</p>
                        <h5 class="card-date"><a href="/tvs">Televisions</a></h5>
                    </div>
                </div>
                <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1605170439002-90845e8c0137?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cGhvbmVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">Avoid Crowds, stay safe and shop from the comfort of your home.</p>
                        <h5><a href="/phones">Phones</a></h5>
                    </div>
                </div>
                <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1596793503406-d90c450ba1b1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG9tZSUyMHRoZWF0ZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">Buy One, Get One Free. We all use these offers are available.</p>
                        <h5> <a href="/radios">Redios</a></h5>
                    </div>
                </div>
                <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1588872657578-7efd1f1555ed?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGFwdG9wc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">Home Essentials from top brands with amazing discounts</p>
                        <h5><a href="/laptops">Laptops</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


    <%- include("partials/footer") %>