<%- include("partials/header") %>
    <%- include("partials/navbar") %>

        <div class="container">
            <h1>Food</h1>
                <div class="container">
        <div class="row flex-xl-nowrap">
            <div class="card-deck">
                <div class="card border-0 col-sm-6 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1566385101042-1a0aa0c1268c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmVnZXRhYmxlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">We have unbeatable deals and amazing discounts on our products</p>
                        <h5 class="card-date"><a href="/vegetables">Vegetables</a></h5>
                    </div>
                </div>
                <div class="card border-0 col-sm-6 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1585374283571-f4e1b2c33cb2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2VyZWFsc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">Avoid Crowds, stay safe and shop from the comfort of your home.</p>
                        <h5><a href="/cereals">Cereals</a></h5>
                    </div>
              
            </div>
        </div>
    </div>

</div>
</div>
<!-- 
            <div class="container">
                <br>
             
                <a href="/vegetables"><button>Vegetables</button></a>
                        <a href="/cereals"><button>Cereals</button></a>
                    </div> -->
                </div>
            </div>
        </div>


        <%- include("partials/footer") %>