<%- include("partials/header") %>
    <%- include("partials/navbar") %>

        <div class="container">
            <h1>Furniture</h1>


            <div class="container">
             <div class="container">
        <div class="row flex-xl-nowrap">
            <div class="card-deck">
                <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1587823172314-0dc50d65a707?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHRhYmxlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">We have unbeatable deals and amazing discounts on our products</p>
                        <h5 class="card-date">   <a href="/tables">Tables</a></h5>
                    </div>
                </div>
                <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1603794067602-9feaa4f70e0c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dGFibGVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">Avoid Crowds, stay safe and shop from the comfort of your home.</p>
                        <h5><a href="/chairs">Chairs</a></h5>
                    </div>
              
            </div>
             <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1603072387865-e48a022fc541?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmVkc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">Avoid Crowds, stay safe and shop from the comfort of your home.</p>
                        <h5><a href="/Beds">Bedddings</a></h5>
                    </div>
              
            </div>
        </div>
    </div>

</div>
</div>
                <br>
              
                
              

            </div>
        </div>


        <%- include("partials/footer") %>