<%- include("partials/header") %>
    <%- include("partials/navbar") %>

        <div class="container">
            <h1>Laptops</h1>
                    <div class="container">
        <div class="row flex-xl-nowrap">
            <div class="card-deck">
                <div class="card border-0 col-sm-6 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1593642702821-c8da6771f0c6?ixid=MnwxMjA3fDF8MHxzZWFyY2h8OHx8bGFwdG9wfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">We have unbeatable deals and amazing discounts on our products</p>
                        <h5 class="card-date">  <a href="/windows">Windows</a></h5>
                    </div>
                </div>
                <div class="card border-0 col-sm-6 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1515248137880-45e105b710e0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWFjfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60`"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">Avoid Crowds, stay safe and shop from the comfort of your home.</p>
                        <h5><a href="/macbook">MacBook</a></h5>
                    </div>
              
            </div>
        </div>
    </div>

</div>
</div>

            <br>
          
           
            <br>
            <br>
            <a href="/electronics">All Electronics</a>

        </div>


        <%- include("partials/footer") %>