<%- include("partials/header") %>
    <%- include("partials/navbar") %>

        <div class="container">
            <h1>Phones</h1>


            <div class="container">
             <div class="container">
        <div class="row flex-xl-nowrap">
            <div class="card-deck">
                <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1596558450426-f4a167918877?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8aXBob25lJTIwMTF8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">We have unbeatable deals and amazing discounts on our products</p>
                        <h5 class="card-date"><a href="/iphones">iPhones</a></h5>
                    </div>
                </div>
                <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1594238543503-3a92f31d0fd4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8aHVhd2VpJTIwcDQwfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">Avoid Crowds, stay safe and shop from the comfort of your home.</p>
                        <h5><a href="/infinix">Infinix</a></h5>
                    </div>
              
            </div>
             <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1605170439002-90845e8c0137?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cGhvbmVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">Avoid Crowds, stay safe and shop from the comfort of your home.</p>
                        <h5><a href="/huawei">Huawei</a></h5>
                    </div>
              
            </div>
             <div class="card border-0 col-sm-4 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1574944985070-8f3ebc6b79d2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGhvbmVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">Avoid Crowds, stay safe and shop from the comfort of your home.</p>
                        <h5><a href="/tecno">Tecno</a></h5>
                    </div>
              
            </div>
        </div>
    </div>

</div>
</div>
             
            <br>
       
        
         
            

            <br>
            <br>
            <a href="/electronics">Back to all Electronics</a>
            </div>


        <%- include("partials/footer") %>