<%- include("partials/header") %>
    <%- include("partials/navbar") %>

        <div class="container">
            <h1>Televisions</h1>

            <div class="container">
        <div class="row flex-xl-nowrap">
            <div class="card-deck">
                <div class="card border-0 col-sm-6 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1461151304267-38535e780c79?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGVsZXZpc2lvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">We have unbeatable deals and amazing discounts on our products</p>
                        <h5 class="card-date"><a href="/smarttv">Smart Televisions</a></h5>
                    </div>
                </div>
                <div class="card border-0 col-sm-6 p-0">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1610703121430-37c7ca10e8a0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZGlnaXRhbCUyMHRlbGV2aXNpb25zfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title h4">Limted Offers!!</h4>
                        <p class="card-text">Avoid Crowds, stay safe and shop from the comfort of your home.</p>
                        <h5><a href="/digital">Digital Televisions</a></h5>
                    </div>
              
            </div>
        </div>
    </div>

</div>
</div>

            <br>
            <!-- <a href="/smarttv"><button>Smart TVs</button></a>
            <a href="/digital"><button>Digital TVs</button></a> -->
            <br>
            <br>
            <a href="/electronics">Back to all Electronics</a>
        </div>


        <%- include("partials/footer") %>